.geochartRoot {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    .tooltip {
        padding: 6px;
        background-color: #ff8aae;
        border-radius: 10px;
    }
}

svg {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .country {
        stroke: #9adcff;
        stroke-width: 1.5;
        opacity: 80%;
    }
    .country:hover {
        stroke: #2e2c2c;
        stroke-width: 2px;
        cursor: pointer;
        fill: #fff89a;
    }
    .country::selection {
        stroke: #f8f8f8;
        stroke-width: 2px;
        cursor: pointer;
        fill: palegreen;
    }
    .label {
        fill: black;
        font-size: 2em;
        font-weight: bold;
    }
    .hidden {
        display: none;
    }
}