.DetailPage{
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background: black url(http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg);
    animation: stars 205s linear alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h1 {
            color: white;
            font-family: 'Prompt', sans-serif;
        }
        
        h4 {
            text-align: left;
            color: white;
            font-family: 'Prompt',
                sans-serif;
        }
    * {
        box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 10px;
        height: 300px;
        /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .button {
        border-radius: 10px;
        color: #242535;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        font-family: 'Prompt',
            sans-serif;
        cursor: pointer;
    }
    
    .button {
        background-color: #242535;
        color: yellow;
        border: 2px solid yellow;
    }
    
    .button:hover {
        background-color: yellow;
        color: #242535;
    }
}

