@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,600;1,400&display=swap');

.intro {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background: radial-gradient(75.08% 149.64% at 63.8% 33.21%, #242535 0%, #242535 86.2%, #242535 100%);

    h1 {
        color: white;
        font-family: 'Prompt', sans-serif;
    }

    h2 {
        color: white;
        font-family: 'Prompt',
        sans-serif;
    }

    img {
        width: 300px;
        height: 300px;
    }
    .button {
        border-radius: 10px;
        color: #242535;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        font-family: 'Prompt',
            sans-serif;
        cursor: pointer;
    }
    
    .button2 {
        background-color: #242535;
        color: yellow;
        border: 2px solid yellow;
    }
    
    .button2:hover {
        background-color: yellow;
        color: #242535;
    }
}
