.intro {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: black url(http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg);
    //animation: stars 205s linear alternate;
    .earth3d {
        background: url(https://github.com/EnayetHossain/Earth/blob/main/public/texture/earthmap1k.jpg?raw=true);
        background-size: cover;
        border: 2px solid #000;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        animation: movimiento 15s linear 0s infinite;
        box-shadow: 0 0 25px RGBA(255, 255, 255, 0.1), -8px -8px 15px #000 inset, 2px 2px 25px #000 inset, -45px -45px 25px RGBA(0, 0, 0, 0.5) inset, 25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
        margin: 1em;
        transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
    }
    h1 {
        color: white;
        font-size: 45px;
    }
    h2 {
        color: white;
        font-family: 'Prompt', sans-serif;
        font-size: 1.5rem;
        margin: 0;
        font-weight: lighter;
    }
    .button {
        border-radius: 10px;
        padding: 15px 50px;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        font-family: 'Prompt', sans-serif;
        cursor: pointer;
        background-color: #ffca00;
        color: black;
        border: 2px solid #ffca00;
        margin-top: 20px;
    }
    .button:hover {
        color: white;
        background-color: transparent;
        border: 2px solid #ffca00;
    }
    @keyframes movimiento {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 400px 0;
        }
    }
}

html {
    scroll-behavior: smooth;
}