@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,600;1,400&display=swap');
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background: #393b44;
}