.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background: #f8f8f8;
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: black url(http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg);
        animation: stars 205s linear alternate;
        .input-area {
            display: flex;
            flex-direction: row;
            width: 800px;
            justify-content: center;
            align-items: center;
            position: sticky;
            color: white;
            input {
                width: 80%;
                height: 60px;
                font-size: 35px;
                outline: 0;
                border-width: 0 0 3px;
                z-index: 1;
                text-align: center;
                margin: 20px;
                background-color: transparent;
                color: #fff;
                border-color: #ffff;
            }
            input::placeholder {
                color: #ffffff;
            }
            input:focus {
                border-color: rgb(36, 229, 255);
            }
            .clear-input {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-align: center;
                width: 30px;
                height: 30px;
                overflow: hidden;
                background: #858585;
                color: white;
                border-radius: 100%;
            }
            p {
                position: relative;
                z-index: 2;
                font-size: 20px;
            }
        }
    }
}   

html {
    scroll-behavior: smooth;
}

