@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,600;1,400&display=swap');
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background: #393b44;
}
.box {
    background: radial-gradient(75.08% 149.64% at 63.8% 33.21%, #242535 0%, #242535 86.2%, #242535 100%);

    input {
        border-radius: 10px;
        padding: 10px 100px;
        margin-bottom: 50px;
        font-family: 'Prompt',
            sans-serif;
    }
}
html {
    scroll-behavior: smooth;
}
